@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    list-style: none;
}

button {
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 16px;
}

.main {
    min-height: 85vh;
}